@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #17ab00;
    --text-color: #333333;
    --white-color: #eeeeee;
    --gray-color: #888888;
    --orange-color: #ffb300;

    --transition: ease .5s;
}

* {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

select, input {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
