.header-area {
    background: var(--primary-color);
    font-size: 1.5rem;
    color: var(--text-color);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ---- Logo ----

.logo {
    width: 15%;
    padding: 10px 0;
}

.logo img {
    width: 100%;
}

// ---- Search bar ----

.search .search-by {
    display: inline-block;
    position: relative;
}

.search .search-by .dropdown-icon {
    position: absolute;
    font-size: 1rem;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.search .search-by select {
    position: relative;
    appearance: none;
    padding: 10px 30px 10px 15px;
    border-right: 1px solid var(--gray-color);
    border-radius: 5px 0 0 5px;
}

.search input {
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    width: 400px;
}

// ---- Notification ----

.notice {
    position: relative;
}

.notice:hover .notice-list {
    width: unset;
    height: unset;
    opacity: 1;
}

.notice .notice-open {
    cursor: pointer;
}

.notice-open .notice-icon {
    margin-right: 5px;
}

.notice .notice-list {
    font-size: 1.2rem;
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    background: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    transition: var(--transition);
    width: 0;
    height: 0;
    opacity: 0;
}

.notice-list .notice-item {
    width: 350px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--white-color);
}

.notice-list .notice-item:not(:first-child) {
    border-top: 1px solid var(--gray-color);
}

.notice-list .notice-item img {
    width: 20%;
}

.notice-list .notice-item .content {
    min-height: 40px;
    max-height: 80px;
    width: 80%;
    padding-left: 10px;
    overflow: auto;
}

.notice-list .notice-item .content::-webkit-scrollbar {
    width: 0;
}

.notice-item .content .title {
    text-transform: uppercase;
    font-weight: 600;
}

.notice-item .content .description {
    margin-top: 5px;
}

// ---- Account ----

.account span{
    padding: 0 5px;
    cursor: default;
}